body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  font-family: Inter;
}

#reload {
  display: none;
}

#previousTopic {
  display: none;
}

#nextTopic {
  display: none;
}

#previousSlide {
 
}

.icon {
  height: 24px;
  width: 24px;
  font-size: 0;
  background: none;
  border: none;
}

.icon.previous {
  background-image: url("/previous.svg");
}

.icon.next {
  background-image: url("/next.svg");
}

 
#searchInput {
  height: 24px;
  width: 200px;  
  margin-right: 10px;
}

#searchButton {
  background-color: #0074D9;  
  color: white;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
}

#searchButton:hover {
  background-color: #0056a3; 
}

.titles span {
  display: none;
}

.titles span:first-child {
  display: inline;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  padding: 0 5vw;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1;
}

.topic {
  display: flex;
  transition: transform 500ms ease-in-out;
}

.topic section {
  height: 100vh;
  width: 95vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5vw;
  align-items: center;
  font-size: 3rem;
}
